.error {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 100px);
    gap: 24px;

    a {
        background: #121212;
        color: #FFF;
        padding: 14px 24px;
        border-radius: 4px;
    }
}