.about { 
    display: flex;
    margin: 44px 14px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 44px;
}

.title {
    size: 30px;
    margin-bottom: 14px;
}

.innerAbout {
    flex: 1;
    
    p {
        margin-bottom: 24px;
    }
}

.link { 
    background: #121212;
    color: #FFF;
    border-radius: 4px;
    padding: 8px 24px;
}

.bannerAbout {
    position: relative;
    width: 300px;
    height: 350px;
    max-width: 400px;
}

.imageAbout {
    object-fit: cover;
    border-radius: 8px;
    width: 300px;
    height: 350px;
}

@media (min-width: 640px) {
    .about {
        flex-direction: row;
        gap: 54px;
    }

    .bannerAbout {
        flex: 1;
    }
}