.main {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerHero {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.heading {
    font-size: 30px;
    color: #FFF;
    margin-bottom: 14px;
    text-align: center;
    font-weight: bold;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    margin-top: 14px;
    background: #30B700;
    border-radius: 8px;
    padding: 8px 24px;
    color: #FFF;
    font-weight: medium;
    transition: all 0.4s ease;

    &:hover {
        transform: scale(0.9);
    }
}

.contentBanner {
    position: relative;
    width: 100%;
    height: 400px;
    background: #000;
}

.banner {
    position: relative;
    width: 100%;
    object-fit: cover;
    opacity: 0.30;
    background: fixed;
}

@media (min-width: 640px) {
    .heading {
        font-size: 40px;
        max-width: 600px;
    }
}