.header {
    width: 100%;
    z-index: 99;
    position: fixed;
    background: #FFF;
}

.fixed {
    position: fixed;
    background: rgba(252, 252, 252, 0.74);
    -webkit-box-shadow: 0 6px 20px -12px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 6px 20px -12px rgba(0, 0, 0, 0.6);
    box-shadow: 0 6px 20px -12px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
}

.background {
    background: #FFF;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 14px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.contentLogo {
    display: none;
}

.contentLogo a {
    font-weight: bold;
    color: #121212;
    font-size: 30px;
}

.nav {
    display: flex;
    gap: 14px;
    
    a {
        color: #121212;
        font-weight: medium;
        display: flex;
        align-items: center;
        padding: 8px 14px;
        border-radius: 4px;
        transition: all 0.3s ease;
        
        &:hover {
            transform: scale(1.09);
        }
    }
}

// Responsive styles
@media (min-width: 640px) {
    .contentLogo {
        display: flex;
    }
}