.submenu {
    margin: 0 auto;
    max-width: 1280px;
    padding: 64px 14px 4px 14px;
}

.submenuIcon {
    display: none;
    gap: 14px;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.ul {
    display: none;
    list-style: none;
    padding: 14px 0;
    gap: 24px;
    row-gap: 24px;
    column-gap: 14px;

    li a {
        background: #121212;
        color: #FFF;
        padding: 8px 14px;
        border-radius: 4px;
    }
}

.closeButton {
    background: transparent;
}

// Responsive styles
@media (min-width: 768px) {
    .ul {
        display: flex;
    }
}

@media (max-width: 768px) {
    .submenuIcon {
        display: inline-flex;
    }
    
    .ul {
        z-index: 99;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: #FFF;
        width: 100%;
        height: 100%;

        &.open {
            display: flex;
        }

        li {
            a {
                background: transparent;
                color: #121212;
                font-size: 20px;
                font-weight: bold;
                transition: all 0.6s;

                &:hover {
                    background: #121212;
                    color: #FFF;
                }   
            } 
        }
    }
}